.content {
  width: var(--content-width);
  margin: 0 auto;

  @media (max-width: calc(var(--width-content) + var(--content-padding) * 2)) {
    width: 100%;
    padding: 0 var(--content-padding);
  }
}
